    <hr>
    <footer>
        <div class="container">
            <p>Made by: Mateus Eduardo</p>
            <p>Contact: <a href="mailto:mateuseduqueiroz@proton.me">mateuseduqueiroz@proton.me</a></p>
            <p>Github: <a href="https://github.com/mateus-eduardo-dias">https://github.com/mateus-eduardo-dias</a></p>
            <p>CS50 2025 Final Project.</p>
            <p><a href=https://www.pngmart.com/image/8173/png/8172 target="_blank">Light Bulb, Technology, Energy, Lamp, Illumination PNG by PNGMart</a></p>
            <p><a href="https://www.flaticon.com/free-icons/group" title="group icons">Group icons created by Freepik - Flaticon</a></p>
        </div>
    </footer>
</body>
</html>