<%- include('layouts/header.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <figure class="text-center mt-3">
                    <blockquote class="blockquote">
                        <p>"The best learning tool in the world"</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Creator of Quiz Master">Mateus Eduardo</cite>
                    </figcaption>
                </figure>
            </div>
            <h2 class="font-monospace text-center fs-4">Make Quizzes</h2>
            <div class="row mt-4 justify-content-center">
                <div class="col-auto">
                    <image src="/img/humans-100.png"></image>
                </div>
            </div>
            <h2 class="font-monospace text-center fs-4">Join the community</h2>
            <div class="row mt-4 justify-content-center">
                <div class="col-auto">
                    <image src="/img/light-bulb-100.png"></image>
                </div>
                <figure class="text-center mt-3">
                    <blockquote class="blockquote">
                        <p>"Knowledge is power"</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="British Philosopher">Francis Bacon</cite>
                    </figcaption>
                </figure>
            </div>
            <div class="row justify-content-center row-cols-auto">
                <div class="col my-2">
                    <a href="/home"><button type="button" class="btn btn-primary btn-schema-3">Play a quiz</button></a>
                </div>
                <div class="col my-2">
                    <a href="/signup"><button type="button" class="btn btn-primary btn-schema-2">Create a account</button></a>
                </div>
            </div>
        </div>
    </main>
<%- include('layouts/footer.ejs') %>