<%- include('layouts/header.ejs') %>
<script>
    const quizInfo = <%- JSON.stringify(quiz_info) %>
</script>
<main>
    <div class="text-center fw-bold fs-4 font-monospace mt-3" id="title"></div>
    <div class="container-md" id="quiz-container">
        <br>
    </div>
    <div class="modal fade" tabindex="-1" id="errorModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="errorModalMsg"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="container-sm">
        <div class="row justify-content-center text-center">
            <div class="mb-3" id="quiz-result"></div>
            <div class="mb-3 error-msg" id="quiz-warn"></div>
            <div class="col-6">
                <button type="button" class="btn btn-primary btn-schema-2 px-4 py-2" onclick="submitQuiz()">Submit</button>
            </div>
        </div>
    </div>
</main>

<link href="/css/quiz_style.css" rel="stylesheet">
<script src="/js/quiz.js"></script>
<%- include('layouts/footer.ejs') %>