<%- include("layouts/header") %>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 border rounded my-5">
                    <form class="mt-2 mx-4" action="/signup" method="post" id="signup-form">
                        <script src="/js/signup.js"></script>
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label">Username</label>
                            <input id="usernameInput" class="form-control" type="text" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input id="passwordInput" class="form-control" type="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPasswordInput" class="form-label">Confirm password</label>
                            <input id="confirmPasswordInput" class="form-control" type="password" name="cpassword" required>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary btn-schema-3">Sign up</button>
                        </div>
                        <% if (typeof message != 'undefined' && message) { %>
                            <div id="alert">
                                <div class='alert alert-danger p-2' role='alert'>
                                    <div><%= message %></div>
                                </div>
                            </div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%- include("layouts/footer") %>